<!-- header top start -->
<header class="header">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="logo">
                <img src="assets/images/logo.svg" alt="logo">
            </div>
            <div class="middle-content d-flex flex-wrap justify-content-between">
                <div class="middle-content-left">50 years in Atlanta, now welcoming Charlotte</div>
                <div class="middle-content-right">Get 20% OFF* + No Payments & No Interest for 12 Months</div>
            </div>
            <div class="header-btn"><a href="">CALL: (704) 248-4947</a></div>
        </div>
    </div>
</header>
<!-- header top end -->