footer {
    background-color: #103762;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content-wrapper {
    color: #fff;
    font-size: 8px;
    font-family: "Loew-Bold";
    max-width: 502px;
    margin-inline: auto;
    padding-block: 15.5px;
    line-height: 1;
}
