footer {
    background-color: #103762;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.footer-content-wrapper {
    color: #fff;
    font-size: 14px;
    font-family: "Loew-Medium";
    padding-block: 18px;
    line-height: 1.3;
}
