// header top start
.header {
    padding-block: 15px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
}
.middle-content {
    gap: 74px;
}

.middle-content div {
    width: 200px;
    font-family: "Loew-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #103762;
    &.middle-content-right {
        width: 215px;
    }
}
.header-btn {
    a {
        color: #fff;
        background-color: #103762;
        font-size: 14px;
        font-family: "Loew-Black";
        text-decoration: underline;
        padding: 10px 15px 15px;
        border-radius: 5px;
        line-height: 1;
        display: block;
        transition: all ease 0.3s;
        &:hover {
            background-color: #000;
        }
    }
}
// header top end
